@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Переменные */

:root {
  --black: #000000;
  --grey: #333333;
  --grey-light: #666666;
  --blue-bg: #81b3d2;
  --grey-bg: #EEEEEE;
  --grey-rating-bg: #F2F2F2;
  --brown-bg: #766357;
  --map-bg: #f2f1ef;
  --filter-bg: #5899d6;
  --white: #FFFFFF;
  --brown-light: #6A6A6A;
  --blue: #669EC0;
  --blue-dark: #5496BD;
  --brown-dark: #604E43;
  --brown-darker: #503E33;

}

/* Стили */

body {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);
  text-transform: uppercase;
}

.main-menu {
  font-weight: bold;
}

.banner-block {
  width: 1200px;
  height: 509px;
  left: 40px;
  top: 55px;
  background: url(../img/backgroundsedona.png);
}

.banner-block__text-img {
  left: 411.38px;
  top: 132.35px;
}

.promo-block {
  text-align: center;
}

.promo-sub-text {
  color: var(--grey);
}

.advantages-block {
  width: 400px;
}

.advantages-text-block.blue-bg {
  background: var(--blue-bg);
  color: var(--white);
}

.advantages-text-block.grey-bg {
  background: var(--grey-bg);
}

/* Стилизация */
.main-menu__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
}

.main-menu__link:hover {
  color: var(--blue-bg);
}

.main-menu__link:active {
  color: var(--black);
  opacity: .3;
}

.main-menu__link:focus {
  color: var(--brown-bg);
}

.promo-title {
  font-size: 21px;
  line-height: 26px;

}

.promo-sub-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.advantages-text-block__title {
  font-size: 21px;
}

.hotel-form {
  text-align: left;
}

.advantages-text-block__paragraph {
  line-height: 21px;
}

.question-title {
  font-size: 30px;
  line-height: 24px;
}

.question-sub-text {
  font-size: 14px;
  line-height: 0.8;
}

.popup {
  font-weight: bold;
}

.popup__link {
  display: block;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  background: var(--brown-bg);
  color: var(--white);
}

.popup__link:hover {
  background: var(--brown-dark);
}

.popup__link:active {
  background: var(--brown-darker);
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
}


.hotel-form__fieldset {
  line-height: 26px;
}

.hotel-form__input {
  font-weight: bold;
  line-height: 26px;
}

.hotel-form__submit-button {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  background: var(--blue-bg);
  color: var(--white);
  text-transform: uppercase;
}

.hotel-form__submit-button:hover {
  background: var(--blue);
}

.hotel-form__submit-button:active {
  background: var(--blue-dark);
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
}

.footer__main-content-call {
  font-size: 21px;
  line-height: 26px;
}

.footer__copyright-text {
  line-height: 26px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  background: var(--blue-bg);
}

.footer__map-wrapper {
  width: 1200px;
  height: 594px;
  background: var(--map-bg);
}

.footer__telephone {
  color: inherit;
}

/* Стилизация каталога */
.filter-catalog {
  color: var(--white);
  background: var(--filter-bg);
}

.search-list__card-tittle-link {
  color: inherit;
}

.filter-catalog__legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-catalog__input:disabled {
  color: var(--brown-light)
}

.filter-catalog__submit-button:hover {
  color: var(--black);
  background: var(--white);
}

.filter__search-result {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.filter__sort-button-block {
  font-size: 12px;
  line-height: 18px;
}

.filter__sort-button {
  color: var(--black);
  opacity: .3;
}

.filter__sort-button:hover,
.filter__sort-button:focus,
.filter__sort-button.selected {
  color: var(--blue-bg);
  opacity: 1;
}

.filter__sort-button:active {
  color: var(--black);
  opacity: 1;
}

.filter__order-icon:hover path {
  fill: black;
}

.filter__order-icon:active path {
  fill: #81b3d2;
}

.filter__order-icon:focus path {
  fill: #81b3d2;
}

.search-list__card-tittle-link:hover {
  color: var(--blue-bg);
}

.search-list__card-tittle-link:active {
  opacity: .3;
  color: (var(--black));
}

.search-list__button {
  display: inline-block;
  min-width: 110px;
  height: 27px;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
}

.search-list__button.more {
  background: var(--blue-bg);
}

.search-list__button.more:hover {
  background: var(--blue);
}

.search-list__button.more:active {
  background: var(--blue-dark);
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
}

.search-list__button.booking {
  background: var(--brown-bg);
}

.search-list__button.booking:hover {
  background: var(--brown-dark);
}

.search-list__button.booking:active {
  background: var(--brown-darker);
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
}

.search-list__rating {
  display: block;
  width: 110px;
  height: 27px;
  background: var(--grey-rating-bg);
  color: var(--grey-light);
  text-transform: uppercase;
}

.filter-catalog__submit-button {
  width: 137px;
  height: 36px;
  border: 2px solid var(--white);
  border-radius: 2px;
  text-transform: uppercase;
  color: inherit;
  background: transparent;
}




